body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
 
}
/* Global styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: rgb(71, 71, 112);
  color: white;
  padding: 20px;

  margin-bottom: 50px;
}



/* Header styles */
h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;

}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 80%;
  
}

nav li {
  margin: 0 2rem;
  padding: 20px;
  border: 1px solid purple;
  text-align:justify;

}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1 rem;
  padding: 0.5 rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  align-items: center;
}

nav a:hover {
 background-color: rgb(128, 168, 179);
 padding: 20px;

}


/* Search page styles */
form {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}

label {
  font-size: 1.5rem;
}

input[type="text"] {
  padding: 0.5rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1.5rem;
}

button[type="submit"], button[type="button"] {
  margin-left: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover, button[type="button"]:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

/* Characters page styles */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
}

/* characters */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



li:hover {
  background-color: #f9f9f9;
}

li p:first-child {
  font-weight: bold;
}

li p:not(:first-child) {
  margin: 0;
}
.characters-container {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.character {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.character-info {
  font-size: 18px;
}
.spells-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.spell {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spell-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.spell-info {
  font-size: 18px;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid black;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}


input[type="text"] {
  margin-left: 10px;
}

.patronus-info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  
}

.patronus-info p {
  margin: 0 0 10px 0;
  
}

.patronus-info button {
  margin-top: 10px;
}

.patronus {
  text-decoration: underline;
}


.patronus:hover {
  cursor: pointer;
}



@media only screen and (max-width: 600px) {
  /* Header styles */
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    align-items: center;
  }

  
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 70%;
  margin: 30px;
}

  nav li {
    margin: 0 1rem;
    padding: 15px;
    font-size: 1rem;
  }

  nav a {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: 0;
  }

  nav a:hover {
    background-color: none;
    padding: 0;
    border-radius: 0;
   
   }
   
  

  /* Search page styles */
  label {
    font-size: 1rem;
  }

  input[type="text"] {
    padding: 0.25rem;
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  button[type="submit"], button[type="button"] {
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  /* Characters page styles */
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 0.8rem;
  }

  .characters-container {
    height: auto;
    gap: 10px;
    display: flex;

  }

  .character {
    width: 70%;
    height: auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;  
  }

  .character-name {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .character-info {
    font-size: 0.8rem;
  }

  .spells-container {
    gap: 10px;
  }

  .spell {
    width: 70%;
    height: auto;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
  }

  .spell-name {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .spell-info {
    font-size: 0.8rem;
  }

  .search-container {
    margin-top: 10px;
  }

  .results-container {
    padding: 10px;
  }
}
